.timelineSection {
  padding: 135px 0px;
  background-color: #f7f7f7;
}
.timelineWrap {
  position: relative;
}
.titleDesc {
  margin-bottom: 80px;
}
.title {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #282828;
}
.description {
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #282828;
}
.subTitle {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #282828;
  margin: 100px 0px 50px 0px;
}
.visitorItem {
  text-align: center;
  padding: 30px;
}
.visitorItemTitle {
  margin: 17px 0px 9px 0px;
  font-family: Merriweather;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #004e97;
}
.visitorItemDesc {
  font-family: Inter;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #282828;
}
.learnMore {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #004e97;
}
.learnMoreArrow {
  background: #d91023;
  padding: 4px 9px;
  margin-right: 12px;
}

@media (min-width: 426px) and (max-width: 768px) {
  .timelineSection {
    padding: 82px 0px;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 14px;
  }
  .subTitle {
    font-size: 20px;
    margin: 98px 0px 60px 0px;
  }
  .visitorItem {
    padding: 25px 10px;
  }
  .visitorItem > img {
    width: 80px;
  }
  .visitorItemTitle {
    margin: 10px 0px;
    font-size: 18px;
  }
  .visitorItemDesc {
    margin-bottom: 12px;
    font-size: 14px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .titleDesc {
    margin-bottom: 51px;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 14px;
  }
  .subTitle {
    font-size: 20px;
    text-align: left;
    margin: 54px 0px 0px 40px;
  }
  .timelineSection {
    padding: 90px 0px;
  }
  .visitorItem {
    text-align: left;
    padding: 25px 50px;
  }
  .visitorItem > img {
    width: 72px;
  }
  .visitorItemTitle {
    margin: 12px 0px;
    font-size: 18px;
  }
  .visitorItemDesc {
    margin-bottom: 12px;
    font-size: 14px;
  }
}
