.latestNews {
  padding: 135px 0px;
  background-color: #f7f7f7;
}
.titleSection {
  font-family: Merriweather;
  color: #282828;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 40px;
}
.seeMore {
  font-family: Merriweather;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #0a5379;
  border-bottom: 2px solid red;
  display: inline;
  padding-bottom: 5px;
}

@media (min-width: 426px) and (max-width: 768px) {
  .seeMore {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .latestNews {
    padding: 55px 0;
  }
  .titleSection {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .seeMore {
    font-size: 14px;
  }
}
